.fieldSet{
    align-content: center;
    box-shadow: 0mm;
    box-sizing: border-box;
    border-radius: 20px;
    padding-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: red;
    font: 1.2em sans-serif;
    background-color:#c3c7b4;
    border: 2px  solid #0000ff;
    width: 600px;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .custom-modalbox{
    background-color:yellow;
}