<app-title-banner></app-title-banner>
<div class="mainContainer">
    <div>Wecome : </div>
    <div>
        <mat-tab-group >       
              <mat-tab label="Adminnistrator"> Admin Page </mat-tab>
            <mat-tab label="Stocks Details"> Add Stocks Details </mat-tab>
            <mat-tab label="Bank Details"> Add Bank Details </mat-tab>
            <mat-tab label="Personal Details"> Personal Details </mat-tab>
            <mat-tab label="Transactional  Details"> Transactional Details </mat-tab>
        </mat-tab-group>
    </div>
</div>