.titleBanner {
    border-radius: 200px;
    background-color:#c3c7b4;
    color: #180e0e;
    padding-top:10px  !important;
    padding-left: 20px  !important;
    padding-right: 20px  !important;
    height: 60px;
    position:relative;
    text-decoration: blink;
    font-size:25px;
    border: 2px  solid #0000ff;
    }
    .container {
        background-color:#e2a82b;
        display: grid;
        grid-template-columns: 100% auto;
}
